<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bus_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus">
        <activity android:name=".BusInfo"></activity>
        <activity android:name=".TicketDetailsActivity" />
        <activity android:name=".TicketActivity" />
        <activity android:name=".BookingFinish" />
        <activity android:name=".CanPayActivity" />
        <activity android:name=".SeatChoose" />
        <activity android:name=".BuslistActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>